{% extends "master.html.twig" %}

{% block title %}Categories list{% endblock %}

{% block content %}
    <div class="main showcase-page">
        <section class="module-extra-small bg-dark">
            <div class="container">

                
                              <div class=" col-sm-4 col-md-9 col-lg-12">
                <div class="callout-text font-alt">

                         
                                <h4><a href="/admin/categories/add">Add category</a></h4>

                                <div >

                                    {% for c in list %}
                                        <div >
                                            <div >
                                              <div class="col-xs-12 col-md-4">
                                                    <p>{{loop.index}}</p><h6>{{c.categoryName}}</h6>  
                                                    <p>
                                                        <a href="/admin/categories/delete/{{c.id}}">Delete</a>
                                                        <a href="/admin/categories/edit/{{c.id}}">Edit</a>
                                                    </p>
                                                      <p>{{c.description}}</p>
                                                    <p><img class="center-block" src="{{c.imagePath}}" width="100" height="100"></p>
                                              
                                                </div>
                                            </div>
                                        </div>
                                    {% else %}
                                        <div>

                                            <div colspan="6">
                                                <p>You have no categories</p>
                                            </div>

                                        </div>
                                    {% endfor %}

                                </div>
                           </div>                 
                </div>
            </div>

        </section>
    </div>



{% endblock %}