<table border="1">
    <tr><th>id</th><th>authorId</th><th>catId</th><th>title</th><th>body</th><th>datePosted</th></tr>
            {% for p in postList %}
        <tr><td>{{p.id}}</td>
            <td>{{p.authorId}}</td>
            <td>{{p.catId}}</td>
            <td>{{p.title}}</td>
             <td>{{p.body}}</td>
              <td>{{p.datePosted}}</td>
            <td><a href="/admin/post/edit/{{p.id}}">edit</a>
                <a href="/admin/post/delete/{{p.id}}">delete</a>
            </td></tr>
        {% endfor %}
</table>