   {% for p in postList %}
                                <div class="row">

                                    <div class="col-md-12">

                                        <h4>
                                            <strong><a href="/uploads.social.jpg" class="post-title">{{p.title}}</a></strong></h4>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 post-header-line">
                                        <img style="float: left;" src="{{p['avatarPath']}}" width="50">
                                        <span></span> by <a href="/login">{{p.name}}</a> | <span class="glyphicon glyphicon-calendar">
                                        </span>{{p.datePosted}} | <span class="glyphicon glyphicon-tags">
                                        </span>Category test: <a href="/categories"><span class="label label-info">{{p.categoryName}}</span></a>
                                    </div>
                                </div>
                                <div class="row post-content">
                                    <div class="col-md-3">
                                        <a href="#">
                                            <img src="/uploads.social.jpg" alt="" class="img-responsive">
                                        </a>
                                    </div>
                                    <div class="col-md-9">
                                        <p>
                                            {{p.body}}
                                        </p>

                                    </div>
                                </div>
                            {% endfor %}