{% extends "master.html.twig" %}

{% block title %}Post list{% endblock %}

{% block headextra %}
    <script>
        var currentPage = {{currentPage}};
                function loadPage(page) {
                    $('#btPage' + currentPage).removeClass("currentPageButton");
                    currentPage = page;
                    $('#btPage' + currentPage).addClass("currentPageButton");
                    $('#itemsView').load("/ajax/newposts/" + page);
                    window.history.pushState("", "Post list", "/newposts/" + page);
                }
    </script>
{% endblock %}

{% block content %} 

    <div class="main showcase-page">
        <section class="module-extra-small bg-dark">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-md-8 col-lg-9">
                        {% block UserIDentification %}

                            {% if userSession %}
                                <p>Hello {{ userSession.name }}, You are Logged in.
                                    You may <a href="/logout">logout</a></p>
                                {% else %}
                                <p>You're not logged in. You may <a href="/register">Register</a>
                                    or <a href="/login">Login</a>.</p>
                                {% endif %}

                        {% endblock %}




                        <div class="col-md-12 post">

                            {% for p in postList %}
                                <div class="row">

                                    <div class="col-md-12">

                                        <h4>
                                            <strong><a href="/uploads.social.jpg" class="post-title">{{p.title}}</a></strong></h4>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 post-header-line">

                                        <span class="glyphicon glyphicon-user"></span>by <a href="/login">{{p.authorId}}</a> | <span class="glyphicon glyphicon-calendar">
                                        </span>{{p.datePosted}} | <span class="glyphicon glyphicon-tags">
                                        </span>Category : <a href="/categories"><span class="label label-info">{{p.catId}}</span></a>
                                    </div>
                                </div>
                                <div class="row post-content">
                                    <div class="col-md-3">
                                        <a href="#">
                                            <img src="/uploads.social.jpg" alt="" class="img-responsive">
                                        </a>
                                    </div>
                                    <div class="col-md-9">
                                        <p>
                                            {{p.body}}
                                        </p>

                                    </div>
                                </div>
                            {% endfor %}
                            <div class="paginationContainer">
                                {% for page in range(1,maxPages) %}
                                    <button class="{% if page == currentPage %}currentPageButton{% endif %}"
                                            id="btPage{{page}}" onclick="loadPage({{page}});">{{page}}</button>
                                {% endfor %}
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </section>
    </div>

{% endblock %}