{% extends "master.html.twig" %}

{% block title %}Add post{% endblock %}

{% block content %}
    <form method="post" enctype="multipart/form-data">

        Category Id:<select>
            <option value="{{v.catId}}"></option>
            <option value="{{v.catId}}"></option>
        </select>
        <p>{{v.datePosted}}</p>
        Title: <input type="text" name="title" value="{{v.title}}"><br>
        Body: <textarea  rows="4" cols="50" type="text" name="body" value="{{v.body}}"></textarea><br>

        <input type="submit" value="Add post">
    </form>
{% endblock %}