{% extends "master.html.twig" %}

{% block title %}New Post{% endblock %}
{#  {% block headextra %} 
  <script type="text/javascript">
  $("#isDone").val("<?php echo $_POST['isDone'];?>");
  </script>
  {% endblock %} #}



{% block content %} 

    <div class="main showcase-page">
        <section class="module-extra-small bg-dark">
            <div class="container">
                <div class="row">


                    {% block UserIDentification %}

                        {% if userSession %}
                            <p>Hello {{ userSession.name }}, You are Logged in.
                                You may <a href="/logout">logout</a></p>
                            {% else %}
                            <p>You're not logged in. You may <a href="/register">Register</a>
                                or <a href="/login">Login</a>.</p>
                            {% endif %}

                    {% endblock %}
                </div>
                <div >
                    <h4 class="font-alt">Add Post</h4>


                    {% if errorList %}
                        <ul>
                            {% for error in errorList %}
                                <li>{{error}}</li>
                                {% endfor %}
                        </ul>
                    {% endif %}
                    <div>
                        <form  class="form" method="post" enctype="multipart/form-data">
                            Category:<select   name="catName" >
                                {% for rc in RowCategory %}
                                    <option value="{{rc.id}}" >{{rc.categoryName}}</option>
                                {%endfor%}
                            </select><br> 
                            Title: <input class="form-control" type="text" name="title" value="{{v.title}}"><br>
                            Body: <textarea  name="area1" cols="20" class="form-control" name="body">{{v.body}}</textarea><br>             
                       
                            <input type="submit" value="{% if isEditing %}Update{% else %}Add{% endif %} post">
                        </form>
                    </div>

                </div>
            </div>

        </section>
    </div>



{% endblock %}