{% extends "master.html.twig" %}

{% block title %}New Post{% endblock %}




{% block content %} 

    <div class="main showcase-page">
        <section class="module-extra-small bg-dark">
            <div class="container">
                <div class="row">


                </div>
                
                <!---user photo -->
                    
                              <div class="user-info-block">
                            <div class="user-heading">
                                <h2>{{ userSession.name }}</h2>
                                <span class="help-block" href="../mailto:name@email.com">{{ userSession.email }}</span>
                           
                            <ul class="navigation">
                                <li class="active">
                                    <a data-toggle="tab" href="../mailto:name@email.com" title="Email">
                                        <span class="glyphicon glyphicon-envelope"></span>
                                    </a>
                                </li>
                                <li>
                                    <a data-toggle="tab" href="../newposts" title="Posts">
                                        <span class="glyphicon glyphicon-user"></span>
                                    </a>

                                </li>

                                <li>
                                    <a data-toggle="tab" href="../categories" title="Categories">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </a>
                                </li>
                            </ul>
                     </div>
                        </div>
                        
                      
                <!---user photo ends -->
                
                        <div class=" col-sm-4 col-md-6 col-lg-6">
                    <h4 class="font-alt">Add Post</h4>


                    {% if errorList %}
                        <ul>
                            {% for error in errorList %}
                                <li>{{error}}</li>
                                {% endfor %}
                        </ul>
                    {% endif %}
                    <div>
                        <form  class="form" method="post" enctype="multipart/form-data">
                            Category:<select name="catId">
                                {% for cat in catList %}
                                    <option value="{{cat.id}}" >{{cat.categoryName}}</option>
                                {%endfor %}
                            </select><br> 
                            Title: <input class="form-control" type="text" name="title" value="{{v.title}}"><br>
                            Body: <textarea class="form-control" row="7" name="body">{{v.body}}</textarea><br>             
                       
                            <input class="btn btn-border-w btn-round" type="submit" value="{% if isEditing %}Update{% else %}Add{% endif %} post">
                        </form>
                    </div>

                </div>
            </div>

        </section>
    </div>



{% endblock %}