{% extends "master.html.twig" %}

{% block title %}New Post{% endblock %}
{#  {% block headextra %} 
  <script type="text/javascript">
  $("#isDone").val("<?php echo $_POST['isDone'];?>");
  </script>
  {% endblock %} #}
{% block content %}

    {% if errorList %}
        <ul>
            {% for error in errorList %}
                <li>{{error}}</li>
                {% endfor %}
        </ul>
    {% endif %}
    <div>
    <form method="post" enctype="multipart/form-data">
        Category:<select name="catName">
            {% for rc in RowCategory %}
            <option value="{{rc.id}}" >{{rc.categoryName}}</option>
            {%endfor%}
        </select>
        Title: <input type="text" name="title" value="{{v.title}}"><br>
        Body: <textarea name="body">{{v.body}}</textarea><br>             
        <input type="submit" value="Add post">
    </form>
    </div>
{% endblock %}